<!DOCTYPE html>
<html>
<head>
  <title>Dummy::Tandem</title>
  <%= stylesheet_link_tag    "tandem/application" %>
  <%= javascript_include_tag "tandem/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= tandem_image_tag(@page, :test_image) if @page %>
<%= tandem_text_tag(@page, :test_text) if @page %>

<%= yield %>

</body>
</html>
