<!DOCTYPE html>
<html>
<head>
  <title>::Tandem</title>
  <%= stylesheet_link_tag    "tandem/application" %>
  <%= stylesheet_link_tag    "tandem/pages" %>
  <%= javascript_include_tag "tandem/application" %>
  <%= javascript_include_tag "tandem/pages" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
