<h1>Editing tandem_text</h1>

<%= form_for(@tandem_text) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @tandem_text %> |
<%= link_to 'Back', tandem_texts_path %>