<h1>Listing tandem pages</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Token</th>
    <th>Layout</th>
    <th>Parent</th>
    <th>Actions</th>
  </tr>

<% @tandem_pages.each do |tandem_page| %>
  <tr>
    <td><%=h tandem_page.title %></td>
    <td><%=h tandem_page.token %></td>
    <td><%=h tandem_page.layout %></td>
    <td><%=h tandem_page.parent_id %></td>
    <td>
      <%= link_to 'Show', tandem_page %>
      <%= link_to 'Edit', edit_tandem_page_path(tandem_page) %>
      <%= link_to 'Destroy', tandem_page, :confirm => 'Are you sure?', :method => :delete %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New tandem_page', new_tandem_page_path %>