<!DOCTYPE html>
<html>
<head>
  <title>Dummy</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= tandem_navigation_tag(@page) %>
  <%= tandem_page_links %>

  <%= yield %>

  <div>
    <%= link_to 'Custom route', custom_path %>
  </div>

  <%= render "/shared/footer" %>
</body>
</html>
