<h1>Editing tandem_content</h1>

<% form_for([@tandem_page, @tandem_content]) do |f| %>
  <%= f.error_messages %>
  
  <% f.fields_for :resource do |resource_form| %>
    <p>
      <%= resource_form.label :content %><br />
      <%= resource_form.text_area :content %>
    </p>
  <% end -%>
  
  <p>
    <%= f.label :token, 'Token (optional)' %><br />
    <%= f.text_field :token %>
  </p>
  
  <p>
    <%= f.submit 'Save' %>
  </p>
<% end %>

<%= link_to 'Back', tandem_page_path(@tandem_page) %>