<p>
  <b>Tandem page:</b>
  <%=h @tandem_content.tandem_page_id %>
</p>

<p>
  <b>Resource type:</b>
  <%=h @tandem_content.resource_type %>
</p>

<p>
  <b>Resource:</b>
  <%=h @tandem_content.resource_id %>
</p>

<p>
  <b>Token:</b>
  <%=h @tandem_content.token %>
</p>


<%= link_to 'Edit', edit_tandem_page_tandem_content_path(@tandem_page, @tandem_content) %> |
<%= link_to 'Back', tandem_page_tandem_contents_path(@tandem_page) %>