<!DOCTYPE html>
<html>
<head>
  <title><%=@page.title%></title>
  <%= stylesheet_link_tag    "tandem/application" %>
  <%= stylesheet_link_tag    "tandem/pages" %>
  <%= javascript_include_tag "tandem/application" %>
  <%= javascript_include_tag "tandem/pages" %>
  <%= csrf_meta_tags %>
  <META name="description" content="<%=@page.description%>">
  <META name="keywords" content="<%=@page.keywords%>">
</head>
<body>

<%= yield %>

<%= tandem_navigation_tag(@page, class: 'tandem_nav') %>

<h1><%= @page.page_label %></h1>

<%= tandem_content_tag(@page, :test_image, :image) %>
<%= tandem_text_tag(@page, :test_text) %>

</body>
</html>
